<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DbConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Repos\Sources\СSharp\MyInvoice\MyInvoice.Infrastructure.Data\ApplicationDb.mdf;Integrated Security=True"/>
  </connectionStrings>
</configuration>